{{ define "navbar" }}
<div class="navbar navbar-default navbar-static-top" id="fix" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="color:lightgoldenrodyellow;">
        <i class="fa fa-paper-plane" style="color: cornsilk;"></i>
        CodeForum
      </a>
    </div>
    <div class="fa navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/" style="color: bisque;">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout" style="color: bisque;">Logout</a></li> 
      </ul>
    </div>
  </div>
</div>
{{ end }}